* {
    margin: 0;
    padding: 0;
}
.header__inner {
    width: 100%;
    padding: 5px;
}
.header__logo {
    padding: 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F5C800;
    font-weight: bold;
}
.content {
    width: 100%;
    padding: 50px 30px;
    background-color: #f8f8f8;
}